<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中国用户体验创新大赛</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="../static/js/jquery.fullPage.min.js"></script>
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
</head>
<body>
<div id="full-screen" class="am-container-fluid">
    <div class="section">
        <img src="../static/img/IMG_01.png" width="640"  class="am-img-responsive" alt="">
    </div>
    <div class="section">
        <img src="../static/img/IMG_02.png" width="640"  class="am-img-responsive" alt="">
    </div>
    <div class="section">
        <img src="../static/img/IMG_03.png" width="640"  class="am-img-responsive" alt="">
    </div>
    <div class="section">
        <img src="../static/img/IMG_04.png" width="640"  class="am-img-responsive" alt="">
    </div>
    <div class="section">
        <img src="../static/img/IMG_05.png" width="640"  class="am-img-responsive" alt="">
    </div>
    <div class="section join">
        <div class="sub">
            <a class="am-btn am-btn-secondary am-btn-block " href="/form">立即参与</a>
            <a type="button" class="am-btn am-btn-secondary am-btn-block " href="/bill/show">发票申请</a>
            <a type="button" class="am-btn am-btn-secondary am-btn-block " href="/download/page">资料下载</a>
        </div>
    </div>
</div>
<script>
    $("#full-screen").fullpage({
        scrollOverflow: true,
        verticalCentered: false
    })
</script>
</body>
</html>