<!DOCTYPE html>
<html lang="en">
<head>
    <title>参与费用支付</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
</head>

<body>
    <div class="am-container">
        <h1>
            <img src="../static/img/code.jpeg" class="am-img-responsive" alt="">
        </h1>
        <!--<a type="button" class="am-btn am-btn-secondary am-btn-block " href="/bill/show">发票申请</a>-->
        <blockquote>
            <p>说明：</p>
            <p>参赛费共计10000.00￥,支付成功后请到参与页面填取发票信息！</p>
        </blockquote>
    </div>

</body>

</html>